<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="/module">
       <div>
           <label for="nom">Nom</label>
           <input type="text" name="nom" id="nom"required>
       </div><br>
        <div>
            <label for="semestre">Semestre</label>
            <input type="text" name="semestre" id="semestre"required>
        </div><br>
        <div>
            <label for="niveau">Niveau</label>
            <input type="text" name="niveau" id="niveau" required>
        </div><br>
        <div>
            <label for="coefficient">Coefficient</label>
            <input type="text" name="coefficient" id="coefficient" required>
        </div><br>
        <button type="submit">Enregistrer</button>
    </form>
</div>
</body>
</html>